@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:wght@200&family=Roboto+Condensed&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Jost', sans-serif;
  background-color: #0077C0;
  color: #ffff;
}

/*agregado por johnCH para probar el footer*/
.cuerpo {
  min-height: 100%;
  margin-bottom: -100px;
}

/*agregado por johnCH para probar el footer*/

h1 {
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  color: #ffff;
}

/* nav de  el form */
nav {
  background-color: #0077c0;
  width: 100%;
  height: 60px;
}

/* nav de  el form */

ol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

li {
  color: #1d242b;
  list-style: none;
  margin: 0px 10px 10px 0px;
}

.listInicio {
  display: flex;
}

.logo {
  border-radius: 100%;
  filter: drop-shadow(0 0 0 2px rgb(0, 0, 0));
}

/* formulario joni */
.froms {
  background-color: #003A84;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding: 6px;
 border-radius: 10%;
 box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
 -webkit-box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
 -moz-box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
}

label {
  display: none;
}

input,
textarea {
  width: 70%;
  border: 3px solid #ffff;
  text-align: center;
  color: #ffff;
  font-family: 'Roboto Condensed', sans-serif;
}

textarea {
  text-align: center center;
  height: 30px;
  width: 100%;
  resize: none;
}

.selectores {
  display: block;
  background-color: transparent;
  color: #ffff;
  width: 70%;
  border: 3px solid #ffff;
  text-align: center;
}

::placeholder {
  text-align: center;
  color: #ffff;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn {
  background-color: #0077C0;
  border: 2px solid #ffff;
  border-radius: 30%;
  padding: 2px;
  cursor: pointer;
  width: 10%;
}

.caja {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  height: 30%;
  width: 100%;
  margin:0%;
}

.cajauno {
  width: auto;
  border: 2px solid #ffff;
  margin: 3%;
}

h2 {
  margin: 1%;
  padding: 2%;
  border: 6px solid #ffff;
}

.cajados {
  background-color: transparent;
  border-radius: 100%;
  margin: 3%;

}

li img , img {
  border-radius: 100%;
}
main{
  display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*johnCH estuvo aqui*/

footer {
  width: 100%;
  background-color: transparent;
  text-align: center;
  height: 60px;
  background-color: #003A84;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons .left-icon {
  margin-right: auto;
}

.footer-icons img {
  width: 30px;
  height: 30px;
  filter: hue-rotate(360deg);
}

.finfooter,p,h3 {
  color: #ffff;
  width: 100%;
  text-align: center;
}

/*johnCH estuvo aqui*/

/*css de page*/
.main_page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.div_page{
  display: flex;
  justify-content: center;
  width: 70%;
  font-size: 400%;
}

.div2_page{
  position: relative;
  display: inline-block;
  text-align: center;
}

.txt_page{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 37%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.p_page{
  background: rgba(0,0,0,0);
  color: black;
  font-size: 150%;
  transform: rotate(1.969turn);
}

